{% extends 'base.html.twig' %}

{% block title %}Packs-Informatique {% endblock %}

{% block body %}
<section class="articles">

{% for article in articles %}
    <article>
        <h2 class="mt-4">{{ article.title }}</h2>
        <div class="metadata m-2 p-2">Ajouté le {{ article.createdAt | date('d/m/Y')  }} à {{ article.createdAt | date('H:i') }} dans la catégorie {{ article.category.title }}</div>
        <div class="content">
        <img src="{{ vich_uploader_asset(article, 'imageFile') }}" width="20%">
          
            <a href="{{  path('site_show', { 'id' : article.id })  }}" class=" m-4 btn btn-primary ml-3">Detail</a>
         
        </div>  
    </article>
   {% endfor %}
   
   </section>

{% endblock %}


