{% extends 'base.html.twig' %}

{% block body %}
 <article>
        <h2 class="mb-4 mt-4">{{ article.title }}</h2>
        <div class="metadata mb-4">ajouté le {{ article.createdAt | date('d/m/Y')}} à {{ article.createdAt | date('H:i')}} dans la catégorie {{ article.category.title }}</div>
        <div class="content p-2">
            <img src={{ article.image }} alt="" class="pr-4">
            {{ article.content | raw }}
        </div>
    </article>
    <section id="commentaires">
    <!--<h1>{{ article.comments | length }} Commentaires</h1>
    {% for comment in article.comments %}
        <div class="comment">
            <div class="row">
                <div class="col-3">
                    {{comment.author}} (<small>{{comment.createdAt | date('H:i')}})
                </div>
            </div>
        </div>
    {% endfor %}
    {% if app.user %}
    {{ form_start(commentForm) }}
    {{ form_row(commentForm.author, {'attr' : {'placeholder': "Votre nom"}}) }}
        {{ form_row(commentForm.content, {'attr' : {'placeholder':"Votre commentaire"}}) }}
<button type="submit" class="btn btn-success">Commenter</button>
{{ form_end(commentForm) }}

{% else %}
    <h2>Vous ne pouvez pas commenter si vous n'êtes pas inscrit</h2>
    </section>
    {% endif %}-->
{% endblock %}